@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-nunito);
  --font-body: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-nunito), Nunito, sans-serif;
}
